*{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

.bg{
    background-image: url('./assets/emma-smith-tdUYv18Huxk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* height: -webkit-fill-available; */
}
