.bg{
    background-image: url('./assets/img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* height: -webkit-fill-available; */
}
